= simple_form_for @ticket.path_args do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :url, :class => 'input-large'
    = f.association :categories, :as => :check_boxes, :collection => @ticket.product.categories
  .form-actions
    = f.button :submit
