%h1 Tickets

%table
  %thead
    %tr
      %th Url
      %th
      %th
      %th

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= link_to ticket.url, url_for(ticket.path_args)
        %td= link_to 'Show', url_for(ticket.path_args)
        %td= link_to 'Edit', edit_product_ticket_path(@product, ticket)
        %td= link_to 'Destroy', product_ticket_path(@product, ticket), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ticket', new_product_ticket_path(@product)
