%p#notice= notice

%p
  %b Url:
  = @ticket.url
%p
  %b Categories:
  = render :partial => 'categories/categories_table', :locals => {:categories => @ticket.categories, :crud_links => false}

= link_to 'Edit', edit_product_ticket_path(@product, @ticket)
\|
= link_to 'Back', product_tickets_path(@product)
