= form_for @tickets_category do |f|
  - if @tickets_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tickets_category.errors.count, "error")} prohibited this tickets_category from being saved:"
      %ul
        - @tickets_category.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :ticket
    = f.text_field :ticket
  .field
    = f.label :category
    = f.text_field :category
  .actions
    = f.submit 'Save'
