%table
  %thead
    %tr
      %th Name
      %th points
      %th Description
      %th
      %th
      %th

  %tbody
    - categories.each do |category|
      %tr
        %td= category.name
        %td= category.points
        %td= category.description
        - if crud_links
          %td= link_to 'Show', category
          %td= link_to 'Edit', edit_category_path(category)
          %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }