- points_total = 0
%table
  %thead
    %tr
      %th Name
      %th points
      %th Description
      %th
      %th
      %th
  %tbody
    - categories.each do |category|
    - points_total += category.points if category.points
      %tr
        %td= category.name
        %td= category.points
        %td= category.description
        - if crud_links
          %td= link_to 'Show', url_for(category.path_args)
          %td= link_to 'Edit', edit_product_category_path(@product, category)
          %td= link_to 'Destroy', product_category_path(@product, category), method: :delete, data: { confirm: 'Are you sure?' }
    %tr
      %td Best guess for sizing
      %td
        %strong
          = points_total