= simple_form_for @category.path_args do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :description, as: :text, :input_html => { :cols => 50, :rows => 10 }
    = f.input :points

  .form-actions
    = f.button :submit
