%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Description:
  = @category.description
%p
  %b Points:
  = @category.points

= link_to 'Edit', edit_product_category_path(@product, @category)
\|
= link_to 'Back', product_categories_path(@product)
